<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6e95a59c997bd7eaae6f7765c42e9248 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6e95a59c997bd7eaae6f7765c42e9248" ></div>
        
</body>
<script>
    
    
            var map_6e95a59c997bd7eaae6f7765c42e9248 = L.map(
                "map_6e95a59c997bd7eaae6f7765c42e9248",
                {
                    center: [13.08268, 80.270718],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5bc6304253e586f34574501f8ff451d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6e95a59c997bd7eaae6f7765c42e9248);
        
    
            var marker_7775fab7ad9938f541d15cc180fb4933 = L.marker(
                [13.09181, 80.283419],
                {}
            ).addTo(map_6e95a59c997bd7eaae6f7765c42e9248);
        
    
            var icon_a495c0b27b30b0f47c3efc5f3d6e00c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7775fab7ad9938f541d15cc180fb4933.setIcon(icon_a495c0b27b30b0f47c3efc5f3d6e00c1);
        
    
        var popup_4e534a9923b34b9ec358e37fdf492bfd = L.popup({"maxWidth": "100%"});

        
            
                var html_9aa4c567bf32bd5b560a786717547e5e = $(`<div id="html_9aa4c567bf32bd5b560a786717547e5e" style="width: 100.0%; height: 100.0%;">Ambulance</div>`)[0];
                popup_4e534a9923b34b9ec358e37fdf492bfd.setContent(html_9aa4c567bf32bd5b560a786717547e5e);
            
        

        marker_7775fab7ad9938f541d15cc180fb4933.bindPopup(popup_4e534a9923b34b9ec358e37fdf492bfd)
        ;

        
    
    
            var marker_ac241b023dd3ab1bd0ddd1e32b6b09ca = L.marker(
                [13.114966, 80.282703],
                {}
            ).addTo(map_6e95a59c997bd7eaae6f7765c42e9248);
        
    
            var icon_e2e36cc04852a408fefff87954f256bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ac241b023dd3ab1bd0ddd1e32b6b09ca.setIcon(icon_e2e36cc04852a408fefff87954f256bc);
        
    
        var popup_58ec7880dbd91e66937dc3e52c0d6a01 = L.popup({"maxWidth": "100%"});

        
            
                var html_91bec8b75051596ec23cba49c9034af1 = $(`<div id="html_91bec8b75051596ec23cba49c9034af1" style="width: 100.0%; height: 100.0%;">Ambulance</div>`)[0];
                popup_58ec7880dbd91e66937dc3e52c0d6a01.setContent(html_91bec8b75051596ec23cba49c9034af1);
            
        

        marker_ac241b023dd3ab1bd0ddd1e32b6b09ca.bindPopup(popup_58ec7880dbd91e66937dc3e52c0d6a01)
        ;

        
    
    
            var marker_1b98cea76844c4bdd76e9193b33eff31 = L.marker(
                [13.000544, 80.263239],
                {}
            ).addTo(map_6e95a59c997bd7eaae6f7765c42e9248);
        
    
            var icon_b4e770c4eadc3e511c794dbecd8dd243 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1b98cea76844c4bdd76e9193b33eff31.setIcon(icon_b4e770c4eadc3e511c794dbecd8dd243);
        
    
        var popup_95ded9244a1af9abf4a5093530aa0b38 = L.popup({"maxWidth": "100%"});

        
            
                var html_4837257db6a1869720436584e201f7fd = $(`<div id="html_4837257db6a1869720436584e201f7fd" style="width: 100.0%; height: 100.0%;">Ambulance</div>`)[0];
                popup_95ded9244a1af9abf4a5093530aa0b38.setContent(html_4837257db6a1869720436584e201f7fd);
            
        

        marker_1b98cea76844c4bdd76e9193b33eff31.bindPopup(popup_95ded9244a1af9abf4a5093530aa0b38)
        ;

        
    
    
            var marker_d6705f2d4e6699e6d5a803205aff44b3 = L.marker(
                [11.9338, 79.8298],
                {}
            ).addTo(map_6e95a59c997bd7eaae6f7765c42e9248);
        
    
            var icon_71901da7b332944b31ae3892570fb008 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d6705f2d4e6699e6d5a803205aff44b3.setIcon(icon_71901da7b332944b31ae3892570fb008);
        
    
        var popup_0a6ed2034c78c8d8d41d5184b6fdf71b = L.popup({"maxWidth": "100%"});

        
            
                var html_d832c24671492cbf97b86debde224e74 = $(`<div id="html_d832c24671492cbf97b86debde224e74" style="width: 100.0%; height: 100.0%;">Ambulance</div>`)[0];
                popup_0a6ed2034c78c8d8d41d5184b6fdf71b.setContent(html_d832c24671492cbf97b86debde224e74);
            
        

        marker_d6705f2d4e6699e6d5a803205aff44b3.bindPopup(popup_0a6ed2034c78c8d8d41d5184b6fdf71b)
        ;

        
    
</script>
</html>